<% include partials/header %>

    <div class="row flex-center">
        <div class="sm-4 col">

            <div class="card" style="width: 20rem;">
                <div class="card-body">
                    <form method="POST" action="/add">
                        <div id="survey">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" id="title" name="title" class="form-input">
                            </div>

                            <div class="form-group">
                                <label for="city">City</label>
                                <input type="text" id="city" name="city" class="form-input" >
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea type="text-area" id="description" name="description" class="form-input"></textarea>
                            </div>

                            <div class="form-group", style="display: none" >
                                <label for="userID">ID</label>
                                <input type="text" id="userID" name="userID" class="form-input" value="<%= user.id %>">
                            </div>
                            <div class="form-group", style="display: none" >
                                <label for="organization">org</label>
                                <input type="text" id="organization" name="organization" class="form-input" value="<%= user.organization %>">
                            </div>
                         
                        </div>
                        <button type="button"  class="btn-secondary btn-block" id="btnAddQuestion">Add Question</button>
                        <button type="submit" class="btn-secondary btn-block">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <% include partials/footer %>

    <!--onclick="addQuestion('survey')"-->